html {
  background: url("https://thumbs.gfycat.com/CalmHollowAsianlion-size_restricted.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.typewriter h1 {
  font-family: 'Waiting for the Sunrise', cursive;
  color: #fff;
  font-size: 4em;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .12em solid #fff; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #fff; }
}

h3 {
  color: #fff;
  text-align: center;
}

p {
  color: #fff;
  text-align: center;
}

.center {
  text-align: center;
}

.perspective {
  background: url("http://dc428.4shared.com/img/QWu4ziBq/s3/doorBorder.png");
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: inline;
  float: left;
  height: 274px;
  width: 147px;
  margin: 20px;
  margin-left: 0px;
  -webkit-perspective: 450;
  border-radius: 3px;
  box-sizing: border-box;
}

.doors {
  margin: auto;
  width: 100%;
  position: relative;
}

.thumb {
  background: url("http://dc428.4shared.com/img/-vayshJ-/s3/ClassDoor.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 147px;
  height: 274px;
  position: absolute;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, .0) inset;
  transition: 1s transform linear;
  transform-origin: left;
  cursor: pointer;
}

.smiles {
  background: url("https://images.fun.com/products/41680/1-1/gremlins-gizmo-hand-puppet.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 75%;
  height: 100%;
  border-radius: 0px;
  margin: auto;
  /* box-shadow: 0 0 0 10px rgba(255, 255, 255, .0) inset; */
  transition: 1s transform linear;
  transform-origin: center;
  cursor: pointer;
  z-index: -2;
}

.thumbOpened
{
  transform: rotateY(-90deg);
  transform-origin: 8px;
  transition: .5s linear;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #000;

  transform-origin: left;
  transform:rotateY(180deg);
  opacity:0;
  animation-name: go;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  width:350px;
}

@keyframes go {
  100%{
    opacity:1;
    transform:rotateY(0deg);
  }
}
